<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome to the flask application
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, vero fugiat eligendi vel qui porro commodi explicabo, veniam rem animi corporis dolorum unde eveniet assumenda voluptates doloribus repellendus maxime suscipit.
        
    </p>
</body>
</html>